/* ////////////////////////////////////// */
body {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin: 10px auto;
    width: 400px;
    max-width: 400px;
    height: 300px;
    max-height: 300px;
    flex-grow: 1;
    flex-basis: 200;
    overflow: hidden;
}

.default {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// */

/*  */

.card-20-03-2024 {
    background: #42230C;
}

.card-20-03-2024>div {
    position: relative;
    width: 250px;
    height: 160px;
    background: #8B673A;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.card-20-03-2024>div:before,
.card-20-03-2024>div:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 85px;
    background: #42230C;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card-20-03-2024>div:after {
    top: 120px;
}


/*  */

.card-19-03-2024 {
    background: #E0DBF0;
}

.card-19-03-2024>div {
    position: relative;
    width: 150px;
    height: 160px;
    border-top: solid #E0DBF0 10px;
    border-bottom: solid #E0DBF0 10px;
    box-shadow:
        inset 0 30px 0 0 #E0DBF0,
        inset 0-30px 0 0 #E0DBF0,
        inset 50px 0 0 0 #BBB2DB,
        inset -50px 0 0 0 #BBB2DB,
        inset 60px 0 0 0 #E0DBF0,
        inset -60px 0 0 0 #E0DBF0,
        inset 70px 0 0 0 #BBB2DB,
        inset -70px 0 0 0 #BBB2DB,
        45px 0 0 -20px #857DA1,
        -45px 0 0 -20px #857DA1,
        45px 10px 0 -20px #E0DBF0,
        45px 20px 0 -20px #857DA1,
        -45px 10px 0 -20px #E0DBF0,
        -45px 20px 0 -20px #857DA1,
        45px -10px 0 -20px #E0DBF0,
        45px -20px 0 -20px #857DA1,
        -45px -10px 0 -20px #E0DBF0,
        -45px -20px 0 -20px #857DA1;
}

.card-19-03-2024>div:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -15px;
    border-left: solid #857DA1 5px;
    border-right: solid #857DA1 5px;
    width: 170px;
    height: 170px;
}

/*  */

.card-18-03-2024 {
    background: #C31C1D;

}

.card-18-03-2024>div {
    width: 200px;
    height: 160px;
    background: #660301;
    clip-path: polygon(1% 100%,
            25% 100%,
            25% 75%,
            42% 75%,
            42% 50%,
            58% 50%,
            58% 75%,
            75% 75%,
            75% 100%,
            99% 100%,
            74.5% 0,
            25.5% 0);
}

/*  */

.card-15-03-2024 {
    background: #FFFFCD
}

.card-15-03-2024>div {
    position: relative;
    top: -100px;
    width: 67px;
    height: 160px;
    border-bottom: 160px solid #E78320;
    border-left: 49px solid transparent;
    border-right: 46px solid transparent
}

.card-15-03-2024>div:before,
.card-15-03-2024>div:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    height: 20px
}

.card-15-03-2024>div:before {
    top: 320px;
    left: -67px;
    width: 200px;
    background-color: #EDAF38;
}

.card-15-03-2024>div:after {
    top: 340px;
    left: -87px;
    width: 240px;
    background-color: #F1D31D;
}

/*  */

.card-14-03-2024 {
    background: #7E2926;
}

.card-14-03-2024>div {
    position: relative;
    width: 150px;
    height: 100%;
    background: #FEFF92;
}

.card-14-03-2024>div:before {
    content: '';
    position: absolute;
    width: 190px;
    height: 100%;
    background: #D2934B;
    clip-path: polygon(0 0, 0 100%, 40% 66%, 40% 34%);
}

.card-14-03-2024>div:after {
    content: '';
    position: absolute;
    left: 30px;
    width: 120px;
    height: 100%;
    background: #DEB365;
    clip-path: polygon(100% 0, 100% 100%, 37% 66%, 37% 34%);
}

/*  */

.card-13-03-2024 {
    background: #6592CF;
    overflow: hidden;
}

.card-13-03-2024>div {
    position: relative;
    top: -100px;
    width: 120px;
    height: 262px;
    border: 40px solid #243D83;
    border-radius: 100px;
}

.card-13-03-2024>div:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 40px;
    border: 20px solid #243D83;
    border-radius: 100px;
    height: 100%;
}

/*  */

.card-11-03-2024 {
    background: #FAD3E5;
    overflow: hidden;
}

.card-11-03-2024>[a],
.card-11-03-2024>[b] {
    position: relative;
}

.card-11-03-2024>[a],
.card-11-03-2024>[a]:after,
.card-11-03-2024>[b],
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    border: solid#8B0051 10px;
}

.card-11-03-2024>[a] {
    height: 100%;
    left: 80px;
}

.card-11-03-2024>[a]:after {
    border-color: #FAD3E5;
    top: 90px;
    left: -10px;
    height: 80px;
    z-index: 1;
}

.card-11-03-2024>[a]:after,
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    content: '';
    position: absolute;
}

.card-11-03-2024>[b],
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    border-width: 20px;
}

.card-11-03-2024>[b] {
    width: 100px;
    height: 20px;
    top: -50px
}

.card-11-03-2024>[b]:after {
    width: 180px;
    height: 20px;
    left: -60px;
    top: 20px
}

.card-11-03-2024>[b]:before {
    width: 260px;
    height: 20px;
    left: -100px;
    top: 60px;
}

/*  */

.card-22-02-2024 {
    background: #0D2328;
    overflow: hidden;
}

.card-22-02-2024>.circle {
    position: relative;
    background: #9ED7F8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-22-02-2024>.circle:nth-child(1) {
    top: 13.2%;
    left: 7.5%;
}

.card-22-02-2024>.circle:nth-child(2) {
    top: -20%;
    left: 7.6%;
}

.card-22-02-2024>.circle:nth-child(3) {
    top: 13.3%;
    left: 7.5%;
}

.card-22-02-2024>.circle:after {
    position: absolute;
    content: '';
    background: #0D2328;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-22-02-2024>.bar {
    width: 20px;
    background: #9ED7F8;
    position: relative;
}

.card-22-02-2024>.bar:nth-child(4) {
    top: 43%;
    left: -57.5%;
    height: 28%;
}

.card-22-02-2024>.bar:nth-child(5) {
    top: 26.2%;
    left: -37.5%;
    height: 60%;
}

.card-22-02-2024>.bar:nth-child(6) {
    top: 69%;
    right: 17.5%;
    height: 80%;
}

/*  */

.card-23-02-2024 {
    background: #3C1B4A;
    overflow: hidden;
}

.card-23-02-2024>#a {
    background: #FCDDEB;
    width: 180px;
    height: 21px;
    position: relative;
    top: -65px;
    left: 66px;

}

.card-23-02-2024>#a:before {
    content: '';
    width: 1.2em;
    height: 10em;
    background: #FCDDEB;
    position: absolute;
    top: 4.9em;
    left: 3.14em;
    border-top-left-radius: 1em;

}

.card-23-02-2024>#a:after {
    content: '';
    width: 6.9em;
    height: 1.26em;
    position: absolute;
    top: 89px;
    left: 124px;
    transform: translate(-50%, -50%);
    background: #FCDDEB;

}

.card-23-02-2024>#b {
    background: #9364C8;
    width: 4.5em;
    height: 3.112em;
    position: relative;
    top: -65px;
    left: -183px;
    border-radius: 0 1em 1em 0;

}

.card-23-02-2024>#b:before {
    content: '';
    width: 0.68em;
    height: 1.93em;
    background: #FCDDEB;
    position: absolute;
    top: 10px;
    left: -10px;

}

.card-23-02-2024>#b:after {
    content: '';
    width: 1.25em;
    height: 6.22em;
    background: #FCDDEB;
    position: absolute;
    top: 14px;
    left: 248px;
    border-radius: 0 1em 1em 0;
}

/*  */

.card-26-02-2024 {
    background-color: #FEFF89;
}

.card-26-02-2024 [a] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #F59426;
}

.card-26-02-2024 [a] [b] {
    width: 160px;
    height: 160px;
}

.card-26-02-2024 [a] [b] [c1],
.card-26-02-2024 [a] [b] [c3] {
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.card-26-02-2024 [a] [b] [c2] {
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-26-02-2024 [a] [b] [c1] [d],
.card-26-02-2024 [a] [b] [c3] [d],
.card-26-02-2024 [a] [b] [c2] [d] [e] {
    background-color: #8A0A06;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.card-26-02-2024 [a] [b] [c2] [d] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFF89;
}

/*  */

.card-1-3-2024 {
    margin: 0;
    background: #2BBBF3;
}

.card-1-3-2024>[a] {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    clip-path: polygon(0 35%, 50% 50%, 42% 0, 58% 0, 50% 50%, 108% 33%, 100% 65%, 50% 50%, 59% 100%, 42% 100%, 50% 50%, 0 65%);
}

.card-1-3-2024>[b] {
    border-radius: 5em;
    background: #FFFFFF;
    width: 6.3em;
    height: 6.3em;
    z-index: 1;
    position: absolute;
}

/*  */

.card-9-3-2024 {
    background: #712B2B;

}

.card-9-3-2024>[x] [a],
.card-9-3-2024>[x] [b] {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.card-9-3-2024>[x] [a] {
    position: relative;
    width: 200px;
    height: 150px;
    background: #F79091;
    rotate: 180deg
}

.card-9-3-2024>[x] [a]:after {
    content: '';
    background: #D04A4C;
    width: 100%;
    height: 60%;
    position: absolute;
}

.card-9-3-2024>[x] [b] {
    margin: 0 auto;
    background: #F79091;
    width: 100px;
    height: 75px;
}

/*  */


.card-10-3-2024 {
    background: #F48B26
}

.card-10-3-2024>div {
    background: #fff;
    width: 180px;
    height: 60%;
    position: relative;
    top: 20%;
}

.card-10-3-2024>div:after {
    content: '';
    width: 58px;
    height: 58px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: -16.4%;
    left: 33.9%;
    box-shadow: 0 0 0 21px #F48B26;
}

.card-10-3-2024>div:before {
    content: '';
    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: -44%;
    left: 42%;
    z-index: 1;
}

/*  */
.card-21-3-2024 {
    background: #301E53;
}

.card-21-3-2024 [a] {
    margin: 0 42px 10px;
    width: 300px;
    height: 40px;
    background: #766D94;
    clip-path: polygon(0 0, 100% 0, 86.5% 100%, 13.5% 100%);
}

.card-21-3-2024 [b] {
    margin-left: 66.6px;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between
}

.card-21-3-2024 [b1] {
    width: 70px;
    height: 50px;
    background: #A6A0BE;
}

.card-21-3-2024 [b2] {
    width: 90px;
    height: 100px;
    background: #A6A0BE;
    clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 50% 100%, 0% 55%);
}

/*  */

.card-22-3-2024 {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FBD6C1;
}

.card-22-3-2024>[a] {
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 170px;
}

.card-22-3-2024>[b] {
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px;
    left: 125px;
    border-radius: 50%;
    overflow: hidden;
    display: flex
}

.card-22-3-2024 [b1] {
    background: #D62022;
    width: 50%;
    height: 100%;
}

.card-22-3-2024 [b2] {
    background: #F16B4A;
    width: 50%
}

.card-22-3-2024 p {
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.card-22-3-2024 [p1] {
    margin: 35px 0 0 25px;
}

.card-22-3-2024 [p2] {
    margin: 10px 0 0 40px;
}

.card-22-3-2024 [p3] {
    margin: 35px 0 0 30px
}

.card-22-3-2024 [p4] {
    margin: 10px 0 0 15px;
}

/*  */

.card-25-3-2024 {
    background: #05476C;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.card-25-3-2024 [a],
.card-25-3-2024 [b] {
    background: #2BBBF3;
    border-radius: 50px;
    height: 250px;
    width: 100px;
}

.card-25-3-2024 [a] {
    margin-top: 150px;
}

.card-25-3-2024 [b] {
    margin-top: -150px;
}

.card-25-3-2024 [a]>div,
.card-25-3-2024 [b]>div {
    background: #CEEDFF;
    height: 50px;
    margin-top: 100px;
}

/*  */

.card-26-3-2024 {
    background: #FCDDEB;
}

.card-26-3-2024 [a] {
    position: relative;
    left: calc(50% - 140px);
    background: #D5007F;
    width: 140px;
    height: 110px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.card-26-3-2024 [a]:before {
    content: '';
    position: absolute;
    top: 110px;
    height: 110px;
    border-top: 70px solid #D5007F;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.card-26-3-2024 [a]:after {
    content: '';
    position: absolute;
    left: 50px;
    background: #F5A9CD;
    width: 40px;
    height: 70px;
}

.card-26-3-2024 [b] {
    position: relative;
    top: 65px;
    left: calc(50% - 280px);
    background: #EF5CA5;
    width: 140px;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 90%, 50% 90%, 0 20%)
}

/*  */

.card-27-3-2024 {
    background: #F59426
}

.card-27-3-2024 [a],
.card-27-3-2024 [b] {
    position: absolute;
    height: 150px;
    width: 30px;
    background: #fff;
    transform: rotate(-30deg);
}

.card-27-3-2024 [b] {
    transform: rotate(30deg);
}

.card-27-3-2024 [c] {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #F59426;
    border-radius: 50px;
}

.card-27-3-2024 [d] {
    position: relative;
    width: 150px;
    height: 30px;
    background: #fff;
}

.card-27-3-2024 [d]:before {
    content: '';
    position: absolute;
    left: -65px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
}

.card-27-3-2024 [d]:after {
    content: '';
    position: absolute;
    right: -65px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
}

/*  */

.card-28-3-2024 {
    background: #611B3F;
    box-sizing: border-box;
}

.card-28-3-2024 [a] {
    margin: 60px auto;
    width: 290px;
    height: 180px;
    background: #BE3184;
    border-radius: 40px;
    padding: 30px 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.card-28-3-2024 [b] {
    background: #611B3F;
    width: 30px;
    height: 50px;
    border-radius: 20px;
    margin: 20px 10px;
}

/*  */

.card-29-3-2024 {
    background: #504371;
    margin: 0;
}

.card-29-3-2024 div,
.card-29-3-2024 div:before {
    background: #A6A0BE;
}

.card-29-3-2024 div {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 100%;
}

.card-29-3-2024 div:before,
.card-29-3-2024 div:after {
    content: '';
    position: absolute;
}

.card-29-3-2024 div:before {
    top: 45%;
    left: -11.5em;
    width: 25em;
    height: 30px;
}

.card-29-3-2024 div:after {
    top: 35%;
    left: -30px;
    width: 90px;
    height: 90px;
    background: #504371;
    rotate: 45deg;
    box-shadow: 0px 0px 0 30px #A6A0BE;
}

/*  */

.card-5-3-2024 {
    background: #611B1A;

}



.card-5-3-2024 div,
.card-5-3-2024 div:after {
    border: 40px solid red
        /*#F16B4A;*/
    ;
    width: 600px;
    height: 550px;
    border-radius: 50%;

}

.card-5-3-2024 div {
    position: relative;
    left: 100px;
    top: -10px;
}

.card-5-3-2024 div:after {
    content: '';
    position: absolute;
    left: -510px;
    top: -30px;
}

/*  */

.card-7-3-2024 {
    background: #F28BBB;
}

.card-7-3-2024 div {
    position: relative;
    top: -55px;
    width: 80px;
    height: 90px;
    border-radius: 50px;
    background: #8B0051;
}

.card-7-3-2024 div:before {
    content: '';
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at center 93%, #F28BBB 25%, #8B0051 0);
    position: absolute;
    top: 50px;
    left: -35px;
    z-index: 1;
}

.card-7-3-2024 div:after {
    content: '';
    width: 250px;
    height: 80px;
    position: absolute;
    border-radius: 50px;
    top: 85px;
    left: -85px;
    background: #8B0051;
}

/*  */

.card-8-3-2024 {
    background: #D5954D;
}

.card-8-3-2024 [x],
.card-8-3-2024 [y] {
    position: relative;
    border-radius: 100px;
}

.card-8-3-2024 [x] {
    top: 120px;
    left: 20px;
    width: 160px;
    height: 250px;
    border: solid #FFF 20px;
    box-shadow: inset 0 0 0 20px #D5954D, inset 0 0 0 40px #FFF, inset 0 0 0 60px #D5954D, inset 0 0 0 80px #FFF
}

.card-8-3-2024 [y] {
    top: -176px;
    left: -100px;
    width: 40px;
    height: 255px;
    box-shadow: inset 0 0 0 20px #fff;
}

/*  */

.card-12-3-2024 {
    background: #085328;
    position: relative;
}

.card-12-3-2024 [a] {
    position: relative;
    width: 40px;
    height: 140px;
    background: #49C85B;
    z-index: 1;
}

.card-12-3-2024 [a]:before,
.card-12-3-2024 [a]:after {
    content: '';
    position: absolute;
    left: -70px;
    width: 180px;
    height: 30px;
    background: #49C85B;
    border-radius: 25px;
}

.card-12-3-2024 [a]:before {
    top: -30px;
}

.card-12-3-2024 [a]:after {
    top: 140px;
}

.card-12-3-2024 [b]:before,
.card-12-3-2024 [b]:after {
    content: '';
    position: absolute;
    width: 140px;
    height: 30px;
    background: #0A9949;
    border-radius: 25px;
    left: 130px;
}

.card-12-3-2024 [b]:before {
    top: 70px;

}

.card-12-3-2024 [b]:after {
    top: 200px;
}

/*  */

.card-30-3-2024 {
    background: #DBBEDF;
    margin: 0;
}

.card-30-3-2024 div {
    margin: 90px auto;
    width: 90px;
    height: 120px;
    background: #81008F;
    box-shadow: 0 -100px #DBBEDF,
        80px -120px #81008F,
        80px -100px #DBBEDF,
        80px -80px #81008F,
        80px -60px #DBBEDF,
        80px -40px #81008F,
        80px -20px #DBBEDF,
        80px 0 #81008F,
        0 100px #DBBEDF,
        -80px 120px #81008F,
        -80px 100px #DBBEDF,
        -80px 80px #81008F,
        -80px 60px #DBBEDF,
        -80px 40px #81008F,
        -80px 20px #DBBEDF,
        -80px 0 #81008F;
}

/*  */

.card-1-4-2024 {
    background: #0A6190
}

.card-1-4-2024 div {
    margin: 50px auto;
    width: 290px;
    height: 200px;
    background: #EFF8FE;
    clip-path: polygon(0% 50%, 7% 40%, 24% 40%, 50% 0%, 76% 40%, 93% 40%, 100% 50%, 93% 60%, 76% 60%, 50% 100%, 24% 60%, 7% 60%);
}

/*  */

.card-2-4-2024 {
    height: 100%;
    background: #90D3A6;
    margin: 0;
}

.card-2-4-2024 [a] {
    position: relative;
    top: 20px;
    height: 200px;
    clip-path: polygon(0 42.5%, 31.25% 42.5%, 31.25% 15%, 68.75% 15%, 68.75% 42.5%, 100% 42.5%, 100% 57.5%, 68.8% 57.5%, 68.8% 85%, 31.3% 85%, 31.3% 57.5%, 0 57.5%);
    box-shadow: inset 155px 0 0 #194E29, inset 185px 0 0 #90D3A6, inset 215px 0 0 #194E29, inset 245px 0 0 #90D3A6, inset 400px 0 0 #194E29;
}

.card-2-4-2024 [b] {
    position: relative;
    top: 50px;
    left: 95px;
    border-radius: 50px;
    background: #194E29;
    width: 210px;
    height: 30px;
}

.card-2-4-2024 [b]:after {
    content: '';
    position: absolute;
    top: 170px;
    border-radius: 50px;
    background: #194E29;
    width: 210px;
    height: 30px;
}