/* /////////////////////////////////////////////////// */

body {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin: 10px auto;
    width: 400px;
    max-width: 400px;
    height: 300px;
    max-height: 300px;
    flex-grow: 1;
    flex-basis: 200;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.height {
    height: 100%;
}

.overflow {
    overflow: hidden;
}

/* /////////////////////////////////////////////////// */

.card-20-03-2024 {
    background: #42230C;
}

.card-20-03-2024>div {
    position: relative;
    width: 250px;
    height: 160px;
    background: #8B673A;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.card-20-03-2024>div:before,
.card-20-03-2024>div:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 85px;
    background: #42230C;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card-20-03-2024>div:after {
    top: 120px;
}


/*  */

.card-19-03-2024 {
    background: #E0DBF0;
}

.card-19-03-2024>div {
    position: relative;
    width: 150px;
    height: 160px;
    border-top: solid #E0DBF0 10px;
    border-bottom: solid #E0DBF0 10px;
    box-shadow:
        inset 0 30px 0 0 #E0DBF0,
        inset 0-30px 0 0 #E0DBF0,
        inset 50px 0 0 0 #BBB2DB,
        inset -50px 0 0 0 #BBB2DB,
        inset 60px 0 0 0 #E0DBF0,
        inset -60px 0 0 0 #E0DBF0,
        inset 70px 0 0 0 #BBB2DB,
        inset -70px 0 0 0 #BBB2DB,
        45px 0 0 -20px #857DA1,
        -45px 0 0 -20px #857DA1,
        45px 10px 0 -20px #E0DBF0,
        45px 20px 0 -20px #857DA1,
        -45px 10px 0 -20px #E0DBF0,
        -45px 20px 0 -20px #857DA1,
        45px -10px 0 -20px #E0DBF0,
        45px -20px 0 -20px #857DA1,
        -45px -10px 0 -20px #E0DBF0,
        -45px -20px 0 -20px #857DA1;
}

.card-19-03-2024>div:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -15px;
    border-left: solid #857DA1 5px;
    border-right: solid #857DA1 5px;
    width: 170px;
    height: 170px;
}

/*  */

.card-18-03-2024 {
    background: #C31C1D;

}

.card-18-03-2024>div {
    width: 200px;
    height: 160px;
    background: #660301;
    clip-path: polygon(1% 100%,
            25% 100%,
            25% 75%,
            42% 75%,
            42% 50%,
            58% 50%,
            58% 75%,
            75% 75%,
            75% 100%,
            99% 100%,
            74.5% 0,
            25.5% 0);
}

/*  */

.card-15-03-2024 {
    background: #FFFFCD
}

.card-15-03-2024>div {
    position: relative;
    top: -100px;
    width: 67px;
    height: 160px;
    border-bottom: 160px solid #E78320;
    border-left: 49px solid transparent;
    border-right: 46px solid transparent
}

.card-15-03-2024>div:before,
.card-15-03-2024>div:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    height: 20px
}

.card-15-03-2024>div:before {
    top: 320px;
    left: -67px;
    width: 200px;
    background-color: #EDAF38;
}

.card-15-03-2024>div:after {
    top: 340px;
    left: -87px;
    width: 240px;
    background-color: #F1D31D;
}

/*  */

.card-14-03-2024 {
    background: #7E2926;
}

.card-14-03-2024>div {
    position: relative;
    width: 150px;
    height: 100%;
    background: #FEFF92;
}

.card-14-03-2024>div:before {
    content: '';
    position: absolute;
    width: 190px;
    height: 100%;
    background: #D2934B;
    clip-path: polygon(0 0, 0 100%, 40% 66%, 40% 34%);
}

.card-14-03-2024>div:after {
    content: '';
    position: absolute;
    left: 30px;
    width: 120px;
    height: 100%;
    background: #DEB365;
    clip-path: polygon(100% 0, 100% 100%, 37% 66%, 37% 34%);
}

/*  */

.card-13-03-2024 {
    background: #6592CF;
}

.card-13-03-2024>div {
    position: relative;
    top: -100px;
    width: 120px;
    height: 262px;
    border: 40px solid #243D83;
    border-radius: 100px;
}

.card-13-03-2024>div:after {
    content: '';
    position: absolute;
    top: 200px;
    left: 40px;
    border: 20px solid #243D83;
    border-radius: 100px;
    height: 100%;
}

/*  */

.card-11-03-2024 {
    background: #FAD3E5;
}

.card-11-03-2024>[a],
.card-11-03-2024>[b] {
    position: relative;
}

.card-11-03-2024>[a],
.card-11-03-2024>[a]:after,
.card-11-03-2024>[b],
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    border: solid#8B0051 10px;
}

.card-11-03-2024>[a] {
    height: 100%;
    left: 80px;
}

.card-11-03-2024>[a]:after {
    border-color: #FAD3E5;
    top: 90px;
    left: -10px;
    height: 80px;
    z-index: 1;
}

.card-11-03-2024>[a]:after,
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    content: '';
    position: absolute;
}

.card-11-03-2024>[b],
.card-11-03-2024>[b]:after,
.card-11-03-2024>[b]:before {
    border-width: 20px;
}

.card-11-03-2024>[b] {
    width: 100px;
    height: 20px;
    top: -50px
}

.card-11-03-2024>[b]:after {
    width: 180px;
    height: 20px;
    left: -60px;
    top: 20px
}

.card-11-03-2024>[b]:before {
    width: 260px;
    height: 20px;
    left: -100px;
    top: 60px;
}

/*  */

.card-22-02-2024 {
    background: #0D2328;
}

.card-22-02-2024>.circle {
    position: relative;
    background: #9ED7F8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-22-02-2024>.circle:nth-child(1) {
    top: 13.2%;
    left: 7.5%;
}

.card-22-02-2024>.circle:nth-child(2) {
    top: -20%;
    left: 7.6%;
}

.card-22-02-2024>.circle:nth-child(3) {
    top: 13.3%;
    left: 7.5%;
}

.card-22-02-2024>.circle:after {
    position: absolute;
    content: '';
    background: #0D2328;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-22-02-2024>.bar {
    width: 20px;
    background: #9ED7F8;
    position: relative;
}

.card-22-02-2024>.bar:nth-child(4) {
    top: 43%;
    left: -57.5%;
    height: 28%;
}

.card-22-02-2024>.bar:nth-child(5) {
    top: 26.2%;
    left: -37.5%;
    height: 60%;
}

.card-22-02-2024>.bar:nth-child(6) {
    top: 69%;
    right: 17.5%;
    height: 80%;
}

/*  */

.card-23-02-2024 {
    background: #3C1B4A;
}

.card-23-02-2024>#a {
    background: #FCDDEB;
    width: 180px;
    height: 21px;
    position: relative;
    top: -65px;
    left: 66px;

}

.card-23-02-2024>#a:before {
    content: '';
    width: 1.2em;
    height: 10em;
    background: #FCDDEB;
    position: absolute;
    top: 4.9em;
    left: 3.14em;
    border-top-left-radius: 1em;

}

.card-23-02-2024>#a:after {
    content: '';
    width: 6.9em;
    height: 1.26em;
    position: absolute;
    top: 89px;
    left: 124px;
    transform: translate(-50%, -50%);
    background: #FCDDEB;

}

.card-23-02-2024>#b {
    background: #9364C8;
    width: 4.5em;
    height: 3.112em;
    position: relative;
    top: -65px;
    left: -183px;
    border-radius: 0 1em 1em 0;

}

.card-23-02-2024>#b:before {
    content: '';
    width: 0.68em;
    height: 1.93em;
    background: #FCDDEB;
    position: absolute;
    top: 10px;
    left: -10px;

}

.card-23-02-2024>#b:after {
    content: '';
    width: 1.25em;
    height: 6.22em;
    background: #FCDDEB;
    position: absolute;
    top: 14px;
    left: 248px;
    border-radius: 0 1em 1em 0;
}

/*  */

.card-26-02-2024 {
    background-color: #FEFF89;
}

.card-26-02-2024 [a] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #F59426;
}

.card-26-02-2024 [a] [b] {
    width: 160px;
    height: 160px;
}

.card-26-02-2024 [a] [b] [c1],
.card-26-02-2024 [a] [b] [c3] {
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.card-26-02-2024 [a] [b] [c2] {
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-26-02-2024 [a] [b] [c1] [d],
.card-26-02-2024 [a] [b] [c3] [d],
.card-26-02-2024 [a] [b] [c2] [d] [e] {
    background-color: #8A0A06;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.card-26-02-2024 [a] [b] [c2] [d] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFF89;
}

/*  */

.card-1-3-2024 {
    background: #2BBBF3;
}

.card-1-3-2024>[a] {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    clip-path: polygon(0 35%, 50% 50%, 42% 0, 58% 0, 50% 50%, 108% 33%, 100% 65%, 50% 50%, 59% 100%, 42% 100%, 50% 50%, 0 65%);
}

.card-1-3-2024>[b] {
    border-radius: 5em;
    background: #FFFFFF;
    width: 6.3em;
    height: 6.3em;
    z-index: 1;
    position: absolute;
}

/*  */

.card-9-3-2024 {
    background: #712B2B;
}

.card-9-3-2024>[x] [a],
.card-9-3-2024>[x] [b] {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.card-9-3-2024>[x] [a] {
    position: relative;
    width: 200px;
    height: 150px;
    background: #F79091;
    rotate: 180deg
}

.card-9-3-2024>[x] [a]:after {
    content: '';
    background: #D04A4C;
    width: 100%;
    height: 60%;
    position: absolute;
}

.card-9-3-2024>[x] [b] {
    margin: 0 auto;
    background: #F79091;
    width: 100px;
    height: 75px;
}

/*  */


.card-10-3-2024 {
    background: #F48B26
}

.card-10-3-2024>div {
    background: #fff;
    width: 180px;
    height: 60%;
    position: relative;
    top: 20%;
}

.card-10-3-2024>div:after {
    content: '';
    width: 58px;
    height: 58px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: -16.4%;
    left: 33.9%;
    box-shadow: 0 0 0 21px #F48B26;
}

.card-10-3-2024>div:before {
    content: '';
    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: -44%;
    left: 42%;
    z-index: 1;
}

/*  */
.card-21-3-2024 {
    background: #301E53;
}

.card-21-3-2024 [a] {
    margin: 0 42px 10px;
    width: 300px;
    height: 40px;
    background: #766D94;
    clip-path: polygon(0 0, 100% 0, 86.5% 100%, 13.5% 100%);
}

.card-21-3-2024 [b] {
    margin-left: 66.6px;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between
}

.card-21-3-2024 [b1] {
    width: 70px;
    height: 50px;
    background: #A6A0BE;
}

.card-21-3-2024 [b2] {
    width: 90px;
    height: 100px;
    background: #A6A0BE;
    clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 50% 100%, 0% 55%);
}

/*  */

.card-22-3-2024 {
    /* display: block; */
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    background: #FBD6C1;
}

.card-22-3-2024>[a] {
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 170px;
}

.card-22-3-2024>[b] {
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px;
    left: 125px;
    border-radius: 50%;
    overflow: hidden;
    display: flex
}

.card-22-3-2024 [b1] {
    background: #D62022;
    width: 50%;
    height: 100%;
}

.card-22-3-2024 [b2] {
    background: #F16B4A;
    width: 50%
}

.card-22-3-2024 p {
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.card-22-3-2024 [p1] {
    margin: 35px 0 0 25px;
}

.card-22-3-2024 [p2] {
    margin: 10px 0 0 40px;
}

.card-22-3-2024 [p3] {
    margin: 35px 0 0 30px
}

.card-22-3-2024 [p4] {
    margin: 10px 0 0 15px;
}

/*  */

.card-25-3-2024 {
    background: #05476C;
    /* overflow: hidden; */
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.card-25-3-2024 [a],
.card-25-3-2024 [b] {
    background: #2BBBF3;
    border-radius: 50px;
    height: 250px;
    width: 100px;
}

.card-25-3-2024 [a] {
    margin-top: 150px;
}

.card-25-3-2024 [b] {
    margin-top: -150px;
}

.card-25-3-2024 [a]>div,
.card-25-3-2024 [b]>div {
    background: #CEEDFF;
    height: 50px;
    margin-top: 100px;
}

/*  */

.card-26-3-2024 {
    background: #FCDDEB;
}

.card-26-3-2024 [a] {
    position: relative;
    left: calc(50% - 140px);
    background: #D5007F;
    width: 140px;
    height: 110px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.card-26-3-2024 [a]:before {
    content: '';
    position: absolute;
    top: 110px;
    height: 110px;
    border-top: 70px solid #D5007F;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.card-26-3-2024 [a]:after {
    content: '';
    position: absolute;
    left: 50px;
    background: #F5A9CD;
    width: 40px;
    height: 70px;
}

.card-26-3-2024 [b] {
    position: relative;
    top: 65px;
    left: calc(50% - 280px);
    background: #EF5CA5;
    width: 140px;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 90%, 50% 90%, 0 20%)
}

/*  */

.card-27-3-2024 {
    background: #F59426
}

.card-27-3-2024 [a],
.card-27-3-2024 [b] {
    position: absolute;
    height: 150px;
    width: 30px;
    background: #fff;
    transform: rotate(-30deg);
}

.card-27-3-2024 [b] {
    transform: rotate(30deg);
}

.card-27-3-2024 [c] {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #F59426;
    border-radius: 50px;
}

.card-27-3-2024 [d] {
    position: relative;
    width: 150px;
    height: 30px;
    background: #fff;
}

.card-27-3-2024 [d]:before {
    content: '';
    position: absolute;
    left: -65px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
}

.card-27-3-2024 [d]:after {
    content: '';
    position: absolute;
    right: -65px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
}

/*  */

.card-28-3-2024 {
    background: #611B3F;
    /* box-sizing: border-box; */
}

.card-28-3-2024 [a] {
    margin: 60px auto;
    width: 290px;
    height: 180px;
    background: #BE3184;
    border-radius: 40px;
    padding: 30px 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.card-28-3-2024 [b] {
    background: #611B3F;
    width: 30px;
    height: 50px;
    border-radius: 20px;
    margin: 20px 10px;
}

/*  */

.card-29-3-2024 {
    background: #504371;
}

.card-29-3-2024 div,
.card-29-3-2024 div:before {
    background: #A6A0BE;
}

.card-29-3-2024 div {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 100%;
}

.card-29-3-2024 div:before,
.card-29-3-2024 div:after {
    content: '';
    position: absolute;
}

.card-29-3-2024 div:before {
    top: 45%;
    left: -11.5em;
    width: 25em;
    height: 30px;
}

.card-29-3-2024 div:after {
    top: 35%;
    left: -30px;
    width: 90px;
    height: 90px;
    background: #504371;
    rotate: 45deg;
    box-shadow: 0px 0px 0 30px #A6A0BE;
}

/*  */

.card-5-3-2024 {
    background: #611B1A;
}

.card-5-3-2024 div,
.card-5-3-2024 div:after {
    border: 40px solid red;
    width: 600px;
    height: 550px;
    border-radius: 50%;
}

.card-5-3-2024 div {
    position: relative;
    left: 100px;
    top: -10px;
}

.card-5-3-2024 div:after {
    content: '';
    position: absolute;
    left: -510px;
    top: -30px;
}

/*  */

.card-7-3-2024 {
    background: #F28BBB;
}

.card-7-3-2024 div {
    position: relative;
    top: -55px;
    width: 80px;
    height: 90px;
    border-radius: 50px;
    background: #8B0051;
}

.card-7-3-2024 div:before {
    content: '';
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at center 93%, #F28BBB 25%, #8B0051 0);
    position: absolute;
    top: 50px;
    left: -35px;
    z-index: 1;
}

.card-7-3-2024 div:after {
    content: '';
    width: 250px;
    height: 80px;
    position: absolute;
    border-radius: 50px;
    top: 85px;
    left: -85px;
    background: #8B0051;
}

/*  */

.card-8-3-2024 {
    background: #D5954D;
}

.card-8-3-2024 [x],
.card-8-3-2024 [y] {
    position: relative;
    border-radius: 100px;
}

.card-8-3-2024 [x] {
    top: 120px;
    left: 20px;
    width: 160px;
    height: 250px;
    border: solid #FFF 20px;
    box-shadow: inset 0 0 0 20px #D5954D, inset 0 0 0 40px #FFF, inset 0 0 0 60px #D5954D, inset 0 0 0 80px #FFF
}

.card-8-3-2024 [y] {
    top: -176px;
    left: -100px;
    width: 40px;
    height: 255px;
    box-shadow: inset 0 0 0 20px #fff;
}

/*  */

.card-12-3-2024 {
    background: #085328;
    position: relative;
}

.card-12-3-2024 [a] {
    position: relative;
    width: 40px;
    height: 140px;
    background: #49C85B;
    z-index: 1;
}

.card-12-3-2024 [a]:before,
.card-12-3-2024 [a]:after {
    content: '';
    position: absolute;
    left: -70px;
    width: 180px;
    height: 30px;
    background: #49C85B;
    border-radius: 25px;
}

.card-12-3-2024 [a]:before {
    top: -30px;
}

.card-12-3-2024 [a]:after {
    top: 140px;
}

.card-12-3-2024 [b]:before,
.card-12-3-2024 [b]:after {
    content: '';
    position: absolute;
    width: 140px;
    height: 30px;
    background: #0A9949;
    border-radius: 25px;
    left: 130px;
}

.card-12-3-2024 [b]:before {
    top: 70px;

}

.card-12-3-2024 [b]:after {
    top: 200px;
}

/*  */

.card-30-3-2024 {
    background: #DBBEDF;
}

.card-30-3-2024 div {
    margin: 90px auto;
    width: 90px;
    height: 120px;
    background: #81008F;
    box-shadow: 0 -100px #DBBEDF,
        80px -120px #81008F,
        80px -100px #DBBEDF,
        80px -80px #81008F,
        80px -60px #DBBEDF,
        80px -40px #81008F,
        80px -20px #DBBEDF,
        80px 0 #81008F,
        0 100px #DBBEDF,
        -80px 120px #81008F,
        -80px 100px #DBBEDF,
        -80px 80px #81008F,
        -80px 60px #DBBEDF,
        -80px 40px #81008F,
        -80px 20px #DBBEDF,
        -80px 0 #81008F;
}

/*  */

.card-1-4-2024 {
    background: #0A6190
}

.card-1-4-2024 div {
    margin: 50px auto;
    width: 290px;
    height: 200px;
    background: #EFF8FE;
    clip-path: polygon(0% 50%, 7% 40%, 24% 40%, 50% 0%, 76% 40%, 93% 40%, 100% 50%, 93% 60%, 76% 60%, 50% 100%, 24% 60%, 7% 60%);
}

/*  */

.card-2-4-2024 {
    background: #90D3A6;
}

.card-2-4-2024 [a] {
    position: relative;
    top: 20px;
    height: 200px;
    clip-path: polygon(0 42.5%, 31.25% 42.5%, 31.25% 15%, 68.75% 15%, 68.75% 42.5%, 100% 42.5%, 100% 57.5%, 68.8% 57.5%, 68.8% 85%, 31.3% 85%, 31.3% 57.5%, 0 57.5%);
    box-shadow: inset 155px 0 0 #194E29, inset 185px 0 0 #90D3A6, inset 215px 0 0 #194E29, inset 245px 0 0 #90D3A6, inset 400px 0 0 #194E29;
}

.card-2-4-2024 [b] {
    position: relative;
    top: 50px;
    left: 95px;
    border-radius: 50px;
    background: #194E29;
    width: 210px;
    height: 30px;
}

.card-2-4-2024 [b]:after {
    content: '';
    position: absolute;
    top: 170px;
    border-radius: 50px;
    background: #194E29;
    width: 210px;
    height: 30px;
}

/*  */

.card-3-4-2024 {
    background: #024817;
}

.card-3-4-2024 div {
    position: relative;
    margin: 60px 92px;
    width: 200px;
    height: 180px;
    box-shadow: inset 0 40px #48BF7D,
        inset 0 60px #024817,
        inset 40px 0 #48BF7D,
        inset 60px 0 #024817,
        inset 140px 0 #48BF7D,
        inset 160px 0 #024817,
        inset 200px 0 #48BF7D;
}

.card-3-4-2024 div:after {
    content: '';
    position: absolute;
    top: 32px;
    left: 72px;
    background: #48BF7D;
    width: 56px;
    height: 56px;
    rotate: 45deg;
    box-shadow: -22px -1px 0 #024817,
        -22px -22px 0 #024817,
        -1px -22px 0 #024817
}

/*  */

.card-4-4-2024 {
    background: #E4E573
}

.card-4-4-2024 div {
    width: 100%;
    height: 100%;
    background: #F48B26;
    clip-path: polygon(7% 0, 18% 0, 50% 43%, 82% 0, 92.5% 0, 68.7% 32%, 68.7% 100%, 61.3% 100%, 61.3% 42%, 53.7% 52%, 53.7% 100%, 46.2% 100%, 46.2% 52%, 38.7% 42%, 38.7% 100%, 31.2% 100%, 31.2% 32%);
}

/*  */

.card-5-4-2024 {
    background: #F16B4A;
    box-shadow: inset 187px 136px #631E1D, inset -187px -136px #631E1D;

}

.card-5-4-2024 [a] {
    position: relative;
    top: 30px;
    left: 185px;
    width: 135px;
    height: 75px;
    background: #631E1D;
    box-shadow: inset 15px -15px #F16B4A, inset 45px -15px #631E1D, inset 60px -15px #F16B4A;

}

.card-5-4-2024 [b] {
    position: relative;
    top: 90px;
    left: 215px;
    width: 135px;
    height: 75px;
    background: #631E1D;
    box-shadow: inset 15px -15px #F16B4A, inset 45px -15px #631E1D, inset 60px -15px #F16B4A;
    rotate: 90deg
}

.card-5-4-2024 [c] {
    position: relative;
    top: 45px;
    left: 80px;
    width: 135px;
    height: 75px;
    background: #631E1D;
    box-shadow: inset 15px -15px #F16B4A, inset 45px -15px #631E1D, inset 60px -15px #F16B4A;
    rotate: -180deg
}

.card-5-4-2024 [d] {
    position: relative;
    top: -165px;
    left: 50px;
    width: 135px;
    height: 75px;
    background: #631E1D;
    box-shadow: inset 15px -15px #F16B4A, inset 45px -15px #631E1D, inset 60px -15px #F16B4A;
    rotate: -90deg
}

/*  */

.card-8-4-2024 {
    background: #010038;
}

.card-8-4-2024 div {
    position: relative;
    background: #857DA1;
    width: 30px;
    height: 95px;
}

.card-8-4-2024 [a] {
    left: 35px
}

.card-8-4-2024 [b] {
    left: 185px;
    top: -95px;
}

.card-8-4-2024 [c] {
    left: 335px;
    top: -190px;
}

.card-8-4-2024 [d] {
    top: -79px;
    left: 110px
}

.card-8-4-2024 [e] {
    top: -174px;
    left: 260px;
}

.card-8-4-2024 div:after {
    content: '';
    position: absolute;
    top: 90px;
    left: -15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #857DA1;
}

.card-8-4-2024 div:before {
    content: '';
    position: absolute;
    top: -56px;
    left: -15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #857DA1;
}

/*  */

.card-9-4-2024 {
    background: #F48B26;
}

.card-9-4-2024 div {
    position: relative;
    top: 60px;
    left: -30px;
    width: 100%;
    height: 120px;
    border: 30px solid #FEFF58;
    clip-path: polygon(0 0, 35% 0, 50% 38%, 65% 0, 100% 0, 100% 100%, 0 100%);
}

.card-9-4-2024 div:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 60px;
    width: 220px;
    height: 120px;
    border: 30px solid #FEFF58;
}

.card-9-4-2024 div:before {
    content: '';
    position: absolute;
    top: -76px;
    left: 135px;
    width: 50px;
    height: 50px;
    rotate: 45deg;
    border: 40px solid #FEFF58;
}

/*  */

.card-11-4-2024 {
    background: #DBBA30;
}

.card-11-4-2024 div {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    background: #DBBA30 linear-gradient(#A95415 60px, transparent 60px, transparent 70px, #A95415 70px, #A95415 130px, transparent 130px, transparent 140px, #A95415 140px, #A95415 150px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%, 0 100%);

}

/*  */

.card-12-4-2024 {
    background: #EA7457;
}

.card-12-4-2024 [a],
.card-12-4-2024 [b] {
    position: relative;
    top: 60px;
    left: 65px;
    width: 45px;
    height: 120px;
    background: #B53733;
    border: 30px #B53733 solid;
    box-shadow: inset -15px 15px #EA7457, inset 0 -15px #EA7457, 15px 0 #EA7457, 45px 0 #B53733;
}

.card-12-4-2024 [a]:before,
.card-12-4-2024 [b]:before {
    content: '';
    position: absolute;
    top: -30px;
    left: -100px;
    width: 100px;
    height: 150px;
    background: #EA7457;
    border-top: 30px #B53733 solid
}

.card-12-4-2024 [b] {
    rotate: 180deg;
    left: 230px;
    top: -120px
}


/*  */

.card-13-4-2024 {
    position: relative;
    background: #223E1F;
}

.card-13-4-2024 div {
    rotate: 45deg;
    position: absolute;
    top: 95px;
    left: 145px;
    width: 70px;
    height: 70px;
    border: 20px solid #223E1F;
    box-shadow: -20px 20px 0 0 #BFE33A, 20px -20px 0 0 #BFE33A, inset 70px 0 #BFE33A;
}

/*  */

.card-14-4-2024 {
    background: #F7BED9;
}

.card-14-4-2024 [a],
.card-14-4-2024 [b] {
    position: relative;
    width: 40px;
    height: 80px;
    border-radius: 100px 0 0 100px;
    background: #EC007B;
}

.card-14-4-2024 [a] {
    left: 252px;
    top: 102px
}

.card-14-4-2024 [b] {
    rotate: 180deg;
    background: #9C274E;
    left: 92px;
    top: 22px;
}

.card-14-4-2024 [a]:before,
.card-14-4-2024 [b]:before,
.card-14-4-2024 [a]:after,
.card-14-4-2024 [b]:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 80px;
    border-radius: 100px 0 0 100px;
}

.card-14-4-2024 [a]:before {
    background: #EC007B;
    left: -100px;
}

.card-14-4-2024 [b]:before {
    background: #9C274E;
    left: -100px;
}

.card-14-4-2024 [a]:after {
    rotate: 90deg;
    background: #EC007B;
    left: -80px;
    top: 80px
}

.card-14-4-2024 [b]:after {
    rotate: 90deg;
    background: #9C274E;
    left: -80px;
    top: 80px
}

/*  */

.card-15-4-2024 {
    background: linear-gradient(90deg, #90D3A6 185px, #194E29 185px, #194E29 215px, #90D3A6, 215px, #90D3A6 300px);
}

.card-15-4-2024 div {
    position: relative;
    top: 120px;
    margin: 170px 65px;
    width: 209px;
    height: 320px;
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 30px, #194E29 20px, #194E29 60px);
    border-radius: 130px;
    border: 31px solid #194E29;

}

/*  */

.card-16-4-2024 {
    background: linear-gradient(90deg, #0A6190 125px, #EFF8FE 125px, #EFF8FE 175px, #0A6190 175px, #0A6190 225px, #EFF8FE 225px, #EFF8FE 275px, #0A6190 275px);
}

.card-16-4-2024 [a],
.card-16-4-2024 [b] {
    position: relative;
}

.card-16-4-2024 [a]:before,
.card-16-4-2024 [b]:before,
.card-16-4-2024 [a]:after,
.card-16-4-2024 [b]:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 100px
}

.card-16-4-2024 [a],
.card-16-4-2024 [b],
.card-16-4-2024 [a]:before,
.card-16-4-2024 [b]:before,
.card-16-4-2024 [a]:after,
.card-16-4-2024 [b]:after {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #EFF8FE;
}

.card-16-4-2024 [a] {
    top: 130px;
    left: 80px
}

.card-16-4-2024 [b] {
    top: 40px;
    left: 180px;
}

.card-16-4-2024 [a]:after {
    top: -0px;
}

.card-16-4-2024 [a]:after,
.card-16-4-2024 [b]:after {
    background: #0A6190;
    left: 50px
}

/*  */

.card-17-4-2024 {
    background: #512B2A;
}

.card-17-4-2024 div {
    background: #EA6B62;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 50%, 37.5% 50%, 37.5% 0%, 62.5% 0%, 62.5% 50%, 100% 50%, 100% 100%, 0% 100%);
}

/*  */

.card-18-4-2024 {
    background: radial-gradient(50px, #BE3184 50px, #611B3F 50px);
}

.card-18-4-2024 div,
.card-18-4-2024 div:after {
    width: 200px;
    height: 100px;
    background: #BE3184;
    border-radius: 0 80px 0 0
}

.card-18-4-2024 div {
    position: relative;
    top: calc(100% - 100px);
}

.card-18-4-2024 div:after {
    content: '';
    position: absolute;
    top: -200px;
    left: 200px;
    rotate: 180deg;
}

/*  */

.card-19-4-2024 {
    background: #F59426;
}

.card-19-4-2024 div {
    position: relative;
    top: 25px;
    left: 175px;
}

.card-19-4-2024 div:before,
.card-19-4-2024 div:after {
    content: '';
    position: absolute;
    rotate: 90deg;
}

.card-19-4-2024 div,
.card-19-4-2024 div:before {
    width: 50px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 25px;
}

.card-19-4-2024 div:after {
    background: #F59426;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left: -50px;
    top: 50px;
}

.card-19-4-2024 p {
    position: relative;
    top: -170px;
    left: 150px;
    background: radial-gradient(#F59426 35%, #FFFFFF 35%);
    width: 100px;
    height: 100px
}

/*  */

.card-24-4-2024 {
    background: #D5EDFC linear-gradient(90deg, #D5EDFC 45%, #06487A 45%, #06487A 55%, #D5EDFC 55%);
}

.card-24-4-2024 div {
    width: 240px;
    height: 100px;
    background: #06487A;
    box-shadow: inset 30px 30px #D5EDFC, inset -30px -30px #D5EDFC, 0 60px #D5EDFC;
    border: 40px solid #06487A;
}

/*  */

.card-25-4-2024 {
    background: #223E1F
}

.card-25-4-2024 div {
    position: relative;
    top: 105px;
    left: 155px;
    width: 90px;
    height: 1000px;
    background: #BFE33A;
    border-radius: 50px;
}

.card-25-4-2024 div:before,
.card-25-4-2024 div:after {
    content: '';
    position: absolute;
    top: -100px;
    width: 90px;
    height: 520px;
    background: #BFE33A;
    border-radius: 50px;
}

.card-25-4-2024 div:before {
    left: -200px;
    rotate: 60deg;
}

.card-25-4-2024 div:after {
    left: 200px;
    rotate: -60deg;
}

/*  */

.card-26-4-2024 {
    background: #FBD6C1;
}

.card-26-4-2024 [a] {
    position: relative;
    top: 50px;
    left: 116px;
    width: 151px;
    height: 125px;
    background: #D62022;
    clip-path: polygon(50% 0, 0 100%, 100% 100%)
}

.card-26-4-2024 [b] {
    margin: 50px 116px;
    background: #FBD6C1;
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 26px solid #D62022;
    border-right: 26px solid #D62022;
    border-bottom: 26px solid #D62022;
}

/*  */

.card-27-4-2024 {
    background: #81008F;
}

.card-27-4-2024 div {
    height: 100%;
    background: #DBBEDF;
    clip-path: polygon(70px 0, 90px 100%, 150px 100%, 170px 0, 230px 0, 250px 100%, 310px 100%, 330px 0)
}

/*  */

.card-29-4-2024 {
    background: #631E1D;
}

.card-29-4-2024 p {
    position: relative;
    left: -45px;
    rotate: 30deg;
    width: 30px;
    height: 250px;
    background: #F16B4A;
}

.card-29-4-2024 p:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 250px;
    background: #F16B4A;
    rotate: 60deg;
    top: 40px;
    left: 70px
}

.card-29-4-2024 p:after {
    content: '';
    position: absolute;
    top: -40px;
    left: 70px;
    rotate: -60deg;
    width: 30px;
    height: 250px;
    background: #F16B4A;
}

/*  */

.card-2-5-2024 {
    background: #611B3F
}

.card-2-5-2024 div {
    margin: 68px auto;
    width: 200px;
    height: 137px;
    background: #BE3184;
    clip-path: polygon(0 41.5%, 21.5% 41.5%, 100px 0, 78% 41.5%, 100% 41.5%, 80% 100%, 20% 100%);
}


/*  */

.card-3-5-2024 {
    background: #F59426;
}

.card-3-5-2024 div {
    margin: 135px 70px;
    width: 120px;
    height: 90px;
    border: 10px;
    background: #FFFFFF;
    box-shadow: 0px -10px #F59426, 0 -60px #FFFFFF, 10px 0 #F59426, 10px -60px #F59426, 130px -60px #FFFFFF, 130px -50px #F59426, 130px 0px #FFFFFF;
}

/*  */
.card-4-5-2024 {
    background: radial-gradient(circle, #EA7457 32%, #B53733 32%, #B53733 40%, #EA7457 40%, #EA7457 50%, #B53733 50%)
}

.card-4-5-2024 div {
    margin: 0 auto;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, #B53733 20%, #EA7457 20%, #EA7457 80%, #B53733 80%);
}

/*  */

.card-6-5-2024 {
    box-shadow:
        inset 0 0 0 40px #4F77FF,
        inset 60px 0 #EFF8FE,
        inset 100px 0 #4F77FF,
        inset 120px 0 #EFF8FE,
        inset 160px 0 #4F77FF,
        inset 180px 0 #EFF8FE,
        inset 220px 0 #4F77FF,
        inset 240px 0 #EFF8FE,
        inset 280px 0 #4F77FF,
        inset 300px 0 #EFF8FE,
        inset 340px 0 #4F77FF,
        inset 360px 0 #EFF8FE;
}

.card-6-5-2024 div {
    border-top: solid #4F77FF 40px;
    ;
    border-bottom: solid #4F77FF 40px;
    background: #EFF8FE;
    margin: 100px auto;
    width: 100%;
    height: 20px;
}

/*  */

.card-7-5-2024 {
    background: linear-gradient(#328FC1 50%, #EFF8FE 50%);
    box-shadow: inset 100px 60px 0 #0A6190, inset -100px -60px 0 #0A6190;
}

.card-7-5-2024 div {
    position: relative;
    top: 75px;
    left: 115px;
    width: 120px;
    border-top: dotted 30px #EFF8FE;
}

.card-7-5-2024 div:after {
    content: '';
    position: absolute;
    top: 90px;
    left: 50px;
    width: 120px;
    border-top: dotted 30px #328FC1;
}

/*  */
.card-8-5-2024 {
    padding: 50px;
    box-shadow: inset 0 100px #FEFF58;
    background: radial-gradient(circle at 100px, #FEFF58 100px, transparent 0),
        radial-gradient(circle at 300px, #FEFF58 100px, transparent 0), #F48B26;
}

/*  */

.card-9-5-2024 {
    background: radial-gradient(circle at 122px, #06487A 40px, transparent 0),
        radial-gradient(circle at 262px, #06487A 40px, transparent 0), #D5EDFC;
}

.card-9-5-2024 div {
    position: relative;
    top: 40px;
    left: 110px;
    width: 120px;
    height: 180px;
    background: transparent;
    border: 20px #06487A solid;
    border-radius: 50px 50px 50px 0;
}

.card-9-5-2024 div:after {
    content: '';
    position: absolute;
    background: #D5EDFC;
    width: 78px;
    height: 71px;
    top: 130px;
    left: -20px;
}

/*  */

.card-10-5-2024 {
    background: #512B2A;
}

.card-10-5-2024 [a] {
    position: relative;
    top: 90px;
    left: 100px;
    border-radius: 20px;
    width: 200px;
    height: 120px;
    background: #EA6B62;
}

.card-10-5-2024 [b] {
    position: relative;
    top: 90px;
    left: 122px;
    border-left: 40px solid #EA6B62;
    border-bottom: 40px solid #512B2A;
}

.card-10-5-2024 [c] {
    position: relative;
    top: 30px;
    left: 30px;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    background: #512B2A;
}

.card-10-5-2024 [d] {
    margin: -20px 110px;
    border-right: 60px solid #512B2A;
    border-top: 20px solid #EA6B62;
    border-bottom: 20px solid #EA6B62;
}

/*  */

.card-16-5-2024 {
    background: #6592CF;
}

.card-16-5-2024 div {
    margin: 90px auto;
    width: 240px;
    height: 120px;
    background: radial-gradient(circle, #243D83 40px, #6592CF 40px, #6592CF 60px, #243D83 60px, #243D83 100px, #6592CF 100px) #6592CF;
    box-shadow: 0 0 0 40px #243D83;
}

/*  */
.card-17-5-2024 {
    background: #F59426;
    padding-left: 10px;
    padding-top: 10px;
}

.card-17-5-2024 div {
    position: relative;
    width: 50px;
    height: 90px;
    background: #FFF;
    clip-path: polygon(50% 0%, 100% 45%, 65% 100%, 30% 100%, 0% 45%);
}

.card-17-5-2024 [a] {
    top: 22px;
    left: 168px;
}

.card-17-5-2024 [b] {
    top: -30px;
    left: 230px;
    rotate: 60deg;
}

.card-17-5-2024 [c] {
    top: -45px;
    left: 230px;
    rotate: 120deg
}

.card-17-5-2024 [d] {
    top: -100px;
    left: 166px;
    rotate: 180deg
}

.card-17-5-2024 [e] {
    top: -225px;
    left: 100px;
    rotate: -120deg
}

.card-17-5-2024 [f] {
    top: -390px;
    left: 100px;
    rotate: -60deg
}

.card-17-5-2024 [x] {
    clip-path: unset;
    top: -430px;
    left: 158px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #F59426;
}

/*  */

.card-20-5-2024 {
    background: #EFF8FE;
}

.card-20-5-2024 div {
    margin: 0 auto;
    width: 320px;
    height: 180px;
    background: radial-gradient(circle at 50% 165%, #EFF8FE 58.7%, #4F77FF 58.5%);
}

/*  */

.card-21-5-2024 {
    background: #0A6190;
}

.card-21-5-2024 div {
    margin: 50px auto;
    width: 250px;
    height: 200px;
    background: repeating-linear-gradient(#EFF8FE, #EFF8FE 20px, #0A6190 20px, #0A6190 30px);
    clip-path: polygon(0 25%, 20% 25%, 20% 0, 80% 0, 80% 25%, 100% 25%, 100% 70%, 80% 70%, 80% 100%, 20% 100%, 20% 70%, 0 70%);
}

/*  */

.card-23-5-2024 {
    background: #611B3F;
}

.card-23-5-2024 div {
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 84px;
    border-left: 59px solid #611B3F;
    border-right: 59px solid #611B3F;
    border-bottom: 70px solid #BE3184;
}

.card-23-5-2024 div:before {
    content: '';
    position: absolute;
    top: -42px;
    left: -8px;
    background: #BE3184;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.card-23-5-2024 div:after {
    content: '';
    position: absolute;
    top: 70px;
    left: -58px;
    width: 200px;
    height: 95px;
    background: #BE3184;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*  */

.card-24-5-2024 {
    background: #EA6B62;
}

.card-24-5-2024 div {
    position: relative;
    width: 100px;
    height: 80px;
    background: #512B2A;
    box-shadow: -60px 80px #EA6B62, -40px 80px #512B2A, -60px 160px #EA6B62, -40px 160px #512B2A;
}

.card-24-5-2024 div:before,
.card-24-5-2024 div:after {
    content: '';
    position: absolute;
    background: #512B2A;
    width: 40px;
    height: 120px;
    border-radius: 10px;
    top: -15px;
}

.card-24-5-2024 div:before {
    left: -40px;
}

.card-24-5-2024 div:after {
    left: 100px;
}